<!DOCTYPE html>
<html>

    <head>
        <title>Tic Tac Toe</title>

        {% load staticfiles %}

        <script type="application/javascript" src="{% static 'core/lib/jquery-3.2.1.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'core/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'core/lib/bootstrap-3.3.7-dist/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'core/lib/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/tictactoe-style.css' %}" />
        <script type="application/javascript" src="{% static 'core/js/tictactoe.js' %}"></script>
    </head>

    <body>
        <div class="main-width center-block">
            <h1 class="text-center">Tic Tac Toe</h1>
            <hr>
            <br>
            <div class="grid center-block">
                <div class="grid-row">
                    <div id="top-left" class="box top-left"></div>
                    <div class="vertical-div"></div>
                    <div id="top-center" class="box top-center"></div>
                    <div class="vertical-div"></div>
                    <div id="top-right" class="box top-right"></div>
                </div>
                <div class="horizontal-div"></div>
                <div class="grid-row">
                    <div id="middle-left" class="box middle-left"></div>
                    <div class="vertical-div"></div>
                    <div id="middle-center" class="box middle-center"></div>
                    <div class="vertical-div"></div>
                    <div id="middle-right" class="box middle-right"></div>
                </div>
                <div class="horizontal-div"></div>
                <div class="grid-row">
                    <div id="bottom-left" class="box bottom-left"></div>
                    <div class="vertical-div"></div>
                    <div id="bottom-center" class="box bottom-center"></div>
                    <div class="vertical-div"></div>
                    <div id="bottom-right" class="box bottom-right"></div>
                </div>
            </div>
            <br>
            <hr>
            <div style="width: 100%;">
                <div class="text-center" style="width: 33%; float: left;">
                    <div style="font-size: 1.5em;">
                        <i id="player-user" class="fa fa-user-o" style="color: peru; cursor: pointer;"></i>
                        &nbsp;
                        <i id="player-app" class="fa fa-desktop" style="color: #8c8c8c; cursor: pointer;"></i>
                    </div>
                </div>

                <div class="text-center" style="width: 33%; float: left;">
                    <div id="turn-div" style="color: #8c8c8c; font-size: 1.5em; cursor: default;">Your Turn</div>
                </div>

                <div class="text-center" style="width: 33%; float: left;">
                    <div id="quit-game" style="color: #8c8c8c; font-size: 1.5em; cursor: pointer; ">Restart Game</div>
                </div>
            </div>
        </div>
    </body>

</html>