body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #1b6d85;
    font-size: 4vw;
}

hr {
    border: 0;
    height: 1px;
    background: #1b6d85;
}

.main-width {
    width: 50%; !important;
}

div .grid {
    background-color: #1b6d85;
    height: 28vw;
    width: 28vw;
}

.grid-row {
    height: 9vw;
    width: 100%;
}

.box {
    background-color: white;
    height: 100%;
    width: 9vw;
    float: left;
}

.vertical-div {
    height: 9vw;
    width: 0.5vw;
    float: left
}

.top-left {
    border-radius: 0 0 10px 0;
}

.top-center {
    border-radius: 0 0 10px 10px;
}

.top-right {
    border-radius: 0 0 0 10px;
}

.middle-left {
    border-radius: 0 10px 10px 0;
}

.middle-center {
    border-radius: 10px;
}

.middle-right {
    border-radius: 10px 0 0 10px;
}

.bottom-left {
    border-radius: 0 10px 0 0;
}

.bottom-center {
    border-radius: 10px 10px 0 0;
}

.bottom-right {
     border-radius: 10px 0 0 0;
}

.horizontal-div {
    height: 0.5vw;
    width: 100%;
}

.full-size {
    height: 100%;
    width: 100%;
}

.icon-style {
    color: peru;
    padding: 20%;
    font-size: 6vw;
}